# ide files
.vscode
.idea

# virtualenvs
.env/
.venv/

# python cache
*.pyc
__pycache__/

# jupyter notebook
*.ipynb
.ipynb_checkpoints

# Code Coverage
.coverage

# other dependent files while running test cases
.pytest_cache/

# build files
.eggs/
*.egg-info
*.egg
build/
